
export("AddLakes", "AddRivers", "AddWaters","BfSStamp",  "CombinePolg", "CombineKant",
       "CombinePolygons", "Neighbours", "PlotBezk","PlotCH","PlotGreg", "PlotPremReg",
       "PlotKant", "PlotBezk", "PlotMSRe","PlotMapDot","PlotPolg",
       "SwissLocator", "GetMap", "tkart","DownloadBfSMaps")


importFrom("grDevices", "xy.coords")
importFrom("graphics", "layout", "legend", "locator", "par", "plot", "text",
           "title", "strheight", "strwidth")
importFrom("utils", "packageVersion", "globalVariables","read.csv", "tail", "download.file", "unzip", "View")
importFrom("DescTools", "Coalesce", "BlankIfNA", "Recycle", "Mar", "Pal", "SetNames", "InDots", "ColToOpaque", "SetAlpha", "Year", "Today", "%nin%")

importFrom("sf", "st_crs", "st_as_sf", "st_read")
importFrom("stats", "aggregate")
